---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import {getCollection} from 'astro:content';

const recipes = await getCollection('recipes');
---

<Layout title="Inicio" description="Galletas fáciles de hacer">
    <section class="grid grid-cols-2 container mx-auto mt-8 gap-8">
        {
            recipes.map((recipe: any) => {
                const {data, slug} = recipe;
                const {title, image, time, quantity, category} = data;

                return (
                        <Card title={title} category={category} image={image} slug={slug} time={time} quantity={quantity}/>
                );
            })
        }
    </section>
</Layout>
